body{
  margin: 0;
  padding:0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #00DBDE;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.center{
  display: flex;
  justify-content: center;
}

.particles-background {
  position: absolute; /* Position it absolutely */
  width: 100%; /* Cover the full width of the container */
  height: 100%; /* Cover the full height of the container */
  z-index: -1; /* Move to the back */
  top: 0;
  left: 0;
}

